{% extends "index.html" %}
{% load static %}
{% block title %} Add | Student {% endblock title %}
{% block admin_active %} active {% endblock admin_active %}


{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{% static 'CSS\query.css' %}">
<style>
    form{
        font-family: "euclid_circular_a","Arial","Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
</style>
{% endblock css %}
<!------------------------------------- Contant Start ----------------------------------->
{% block body %}

<!-- Add Student -->
    <!-- <div class="form_box d-flex justify-content-center"> -->
    <div class="form_box">
        <div class="col-md-8 main_form_box">
            <h3 class="text-center fw-bold mb-3">Add New Student</h1>
           
                <div class="row g-3 align-items-center">
                    <div style="display: flex; justify-content: center;">
                        <div id="alart_msg" style="text-align: center;" class="col-sm-4 col-md-6"></div>
                    </div>
                </div>
         

            <form id="add-student-form" style="text-align: right;">
                {% csrf_token %}

                <div class="row g-3 align-items-center">
                    <div class="col-md-4">
                      <label for="inputPassword6" class="col-form-label">Student Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="s_name" class="form-control" placeholder="Enter Name"/>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                    <div class="col-md-4">
                      <label for="inputPassword6" class="col-form-label">Student Gender</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" aria-label="Default select example" id="s_gender">
                            <option selected Disabled  >Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                    <div class="col-md-4">
                      <label for="inputPassword6" class="col-form-label">Student Class</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" aria-label="Default select example" id="s_class">
                            <option selected Disabled  >Select Class</option>
                            <option value="vi">vi</option>
                            <option value="vii">vii</option>
                            <option value="viii">viii</option>
                            <option value="ix">ix</option>
                            <option value="x">x</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                    <div class="col-md-4">
                      <label for="inputPassword6" class="col-form-label">Student Roll</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" id="s_roll" class="form-control" placeholder="Enter Roll"/>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                    <div class="col-md-4">
                        <label for="inputPassword6" class="col-form-label">Student Date of birth</label>
                    </div>
                    <div class="col-md-6">
                        <!-- <input type="date" id="s_birth" class="form-control"/> -->
                        <input type="datetime-local" id="s_birth" class="form-control" placeholder="Select data of birth" required/>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                    <div class="col-md-4">
                      <label for="inputPassword6" class="col-form-label">Student Age</label>
                    </div>
                    <div class="col-md-6">
                        <input type="number" id="s_age" class="form-control" placeholder="Enter Age"/>
                    </div>
                </div>

                <div class="row g-3 align-items-center mt-3">
                    <div class="col-md-4">
                        <label for="inputPassword6" class="col-form-label">Student City</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" aria-label="Default select example" id="s_city">
                            <option selected Disabled  >Select City</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Chittagong">Chittagong</option>
                            <option value="Barisal">Barisal</option>
                            <option value="Khulna">Khulna</option>
                            <option value="Rajshahi">Rajshahi</option>
                            <option value="Rangpur">Rangpur</option>
                            <option value="Sylhet">Rajshahi</option>
                            <option value="Mymensingh">Mymensingh</option>
                            <option value="Cumilla">Cumilla</option>
                        </select>
                    </div>
                </div>

                


                
                <div class="d-flex justify-content-center mt-5 mb-3">
                    <button type="submit" class="btn btn-primary btn-block col-sm-5" >Add Student</button>
                </div>

            </form>
        </div>
    </div>

    



{% endblock body %}
<!-------------------------------------- Contant End ------------------------------------>



{% block js %}

<script>
    var myData = {
        studentUrl: "{% url 'add_student' %}",
    };
</script>

<script src="{% static 'JS\student.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#s_birth", {});
    
    // Go to this link for more information about the configuration of Flat Pickr ( Calander )
    // https://flatpickr.js.org/examples/#datetime

</script>

{% endblock js %}